<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Prevendo</title>

    <link rel="stylesheet" href="../css/input.css">
</head>

<body>

    <main>
        <h1>Iniciar sesión</h1>

        <form id="login-form">

            <div>
                <label for="email">Email</label>

                <input
                    type="email"
                    id="email"
                    name="email"
                    required
                >
            </div>

            <div>
                <label for="password">Contraseña</label>

                <input
                    type="password"
                    id="password"
                    name="password"
                    required
                >
            </div>

            <button type="submit">
                Iniciar sesión
            </button>

            <p id="login-error" hidden></p>

        </form>
    </main>

    <script type="module" src="../js/login.js"></script>

</body>
</html>

